@import 'settings';
@import 'foundation-emails';

@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Mono:400,500,700');

.no-margin {
    margin: 0;
    h3 {
        margin: 0;
    }
}
.red-bg {
    background: $secondary-color;
    padding-top: 20px;
    padding-bottom: 20px;
 }
.social {
    width: 20px;
}
.top-margin {
    margin-top: 40px;
}
.add-padding {
    padding: 40px 0;
}
.second-color {
    color: $secondary-color;
}