@import 'settings';
@import 'foundation-emails';

@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:400,700|Roboto:400,700&subset=cyrillic');

.no-margin {
    margin: 0;
}
.red-bg {
    background: $secondary-color;
    padding-top: 20px;
    padding-bottom: 20px;
 }
.social {
    width: 20px;
}
.top-margin {
    margin-top: 40px;
}
.add-padding {
    padding: 40px 0;
}
.second-color {
    color: $secondary-color;
}
* {
  hyphens: none;
}
.prim-color {
    color: $primary-color;
}
.speakers {
  h6, h3 {
    margin-bottom: 20px;
  }
}
.font-mono {
  font-family: $header-font-family;
}
