@import 'settings';
@import 'foundation-emails';

@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Mono:400,500,700');

.no-margin {
    margin: 0;
}
.red-bg {
    background: $secondary-color;
    padding-top: 20px;
    padding-bottom: 20px;
 }
